@font-face {
    font-family: popMedium;
    src: url(../../public/fonts/Poppins/Poppins-Medium.otf);
}

@font-face {
    font-family: popLight;
    src: url(../../public/fonts/Poppins/Poppins-Light.otf);
}

@font-face {
    font-family: r6;
    src: url(../../public/fonts/R6font/rainbow.ttf);
}

@font-face {
    font-family: scout;
    src: url(../../public/fonts/ScoutFonts/Scout-Regular.otf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../../public/back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(1.5vh);
}
