.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 1%;
  height: 12vh;
  width: 35%;
}

.operator {
  height: 40vh;
  width: 100%;
  background-color: #1b1b1bAA;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.operatorPortait {
  height: 100%;
  width: 25%;
}

.operatorIconName {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.operatorIcon {
  height: auto;
  width: 65%;
}

.operatorName {
  color: white;
  font-size: 5vh;
  font-family: scout;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5vh;
  width: 100%;
}

.selectionTitle {
  color: white;
  font-family: scout;
  font-size: 4vh;
}

.selectionBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 1vh;
}

#btns {
  height: 6vh;
  width: 12%;
  margin-left: 1vh;
  margin-right: 1vh;
  border: none;
  color: white;
  font-size: 3.5vh;
  font-family: scout;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnATK {
  background-color: #a01c1c;
  border-radius: 1vh 0.3vh 0.3vh 0.3vh;

  background: #a01c1c;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition: color 0.3s;
}

.btnATK:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #ce2323;
  transform: scaleX(0);
  transform-origin: 50% 50%;
  transition: transform 0.3s ease-out;
}

.btnATK:hover:before {
  transform: scaleX(1);
  border-radius: 1vh 0.3vh 0.3vh 0.3vh;
}

.ATKIcon {
  margin-left: 1vh;
}

.btnDEF {
  background-color: #9c541a;
  border-radius: 0.3vh 1vh 0.3vh 0.3vh;

  background: #9c541a;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition: color 0.3s;
}

.btnDEF:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #c56b21;
  transform: scaleX(0);
  transform-origin: 50% 50%;
  transition: transform 0.3s ease-out;
}

.btnDEF:hover:before {
  transform: scaleX(1);
  border-radius: 0.3vh 1vh 0.3vh 0.3vh;
}

.DEFIcon {
  margin-right: 1vh;
}

.github {
  color: white;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.githubIcon {
  height: 4vh;
  width: 2.4%;
  margin-right: 1vh;
}
